.main {
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
  background-color: #d6fec9;
}

.is-flex-start {
  align-items: flex-start !important;
  margin-top: 100px;
}

.has-text-centered{
  max-width: 400px;
}