@import "~bulma/sass/utilities/mixins";

div.judges {
  margin-top: 20px;
}

.judges h4 {
  margin-bottom: 8px;
}

.schedule ul {
  margin-left: 20px;
}

.submit {
  font-weight: bold;
}

.home-bg {
  background-size: 50%;
  background-repeat: no-repeat;
}

.home-bg-left {
  background-position: left bottom;
}

.home-bg-right {
  background-position: right bottom;
}

@include mobile {
  background-size: 100px;
}
